//-----------------------------------------------------------------------------
// Components: Tables.
//-----------------------------------------------------------------------------

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: $color-main;
  color: $color-base-white;
  text-align: left;

  &.transparent {
    background-color: inherit;
  }
}

td {
  padding: 0.125rem;

  &.empty {
    background-color: $color-base-white;
  }
}
