//-----------------------------------------------------------------------------
// Base: Base Styling.
//-----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: $color-main;
  font-family: $font-family-default;
  font-size: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

h1 { font-size: 2.185rem; line-height: 1.5; }
h2 { font-size: 1.875rem; line-height: 1.5; }
h3 { font-size: 1.565rem; line-height: 1.5; }
h4 { font-size: 1.250rem; line-height: 1.25; }
h5 { font-size: 1.125rem; line-height: 1.25; }
h6 { font-size: 1.000rem; line-height: 1.25; }

ul,
ol {
  list-style-position: outside;
  list-style-type: none;
}
