//-----------------------------------------------------------------------------
// Layout: Footer.
//-----------------------------------------------------------------------------

footer {
  margin: 0 auto;
  max-width: $content-wrap-max-width;
  padding: 0 $padding-content-wrap-horizontal $padding-content-wrap-vertical;
}
