//-----------------------------------------------------------------------------
// Helpers: Variables.
//-----------------------------------------------------------------------------


//----- Colors.

$color-base-white: #ffffff;
$color-base-black: #000000;

$color-base-catskill-white: #ecf2f6;
$color-base-slate-gray: #6f7e95;
$color-base-wild-sand: #f5f5f5;

$color-background: rgb(246, 247, 251);
$color-main: rgb(47, 48, 51);
$color-secondary: rgb(235, 237, 242);


//----- Fonts.

$font-path: './../../vendor/fonts';
$font-family-default: 'Nunito', sans-serif;
$font-size-default: 1rem;


//----- Paddings.

$padding-content-wrap-horizontal: 1rem;
$padding-content-wrap-vertical: 1rem;

//----- Content Wrap.
$content-wrap-max-width: 75rem; // 1200px
