//-----------------------------------------------------------------------------
// Base: Animations.
//-----------------------------------------------------------------------------

@keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes spin-quarter {
  100% {
    transform: rotate(90deg);
  }
}
